.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card {
  width: 90%;
}

.card-text {
  padding: 0.2rem 1.4rem 0.3rem;
}

.fa-shuffle {
  position: absolute;
  right: 4.4rem;
}

.fa-circle-question {
  position: absolute;
  right: 1.5rem;
}

#search {
  padding: 0.5rem 0.2rem;
  margin-left: -0.4rem;
}

::placeholder {
  padding-left: 0.5rem;
}

.button-search {
  position: absolute;
  left: 13.5rem;
  margin-left: -0.8rem;
}

.nav {
  padding: 0.1rem 1.3rem 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1350px;
  }

  .column-half {
    width: 50%;
  }

  .column-two-fifths {
    width: 40%;
  }

  .column-three-fifths {
    width: 60%;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .nav-top {
    gap: 3.5rem;
  }

  .nav-bottom {
    display: flex;
    justify-content: space-between;
    gap: 2.3rem;
  }

  .fa-shuffle {
    position: static;
    transform: scale(1.6);
  }

  .fa-circle-question {
    position: static;
    transform: scale(1.7);
  }

  .button-search {
    position: static;
    margin-left: -1.6rem;
  }

  #search {
    padding: 0.5rem 1.2rem;
  }

  ::placeholder {
    padding-left: 0;
  }

  .fa-feather-pointed {
    margin-right: -2rem;
  }

  .card {
    width: 70%;
    height: 330px;
    display: flex;
  }

  .card-text {
    padding: 0.2rem 2rem 1.7rem 1.4rem;
  }

  img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
  }
}
