body {
  font-family: Roboto, sans-serif;
  background-color: #444;
}

/* Nav Bar */
.nav {
  background-color: #171717;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.3rem;
}

.fa-feather-pointed,
.button-search {
  color: #007bff;
}

.site-name {
  color: #da0037;
}

a,
.fa-shuffle,
.fa-circle-question {
  color: white;
}

.fa-shuffle,
.fa-circle-question {
  cursor: pointer;
}

.fa-shuffle {
  transform: scale(1.6);
}

.fa-circle-question {
  transform: scale(1.7);
}

.fa-feather-pointed {
  transform: scale(1.8);
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: lighter;
  font-size: 1.1rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: -0.4rem;
}

.button-search {
  padding: 0.5rem 0.7rem;
  border: 1px solid #007bff;
  border-radius: 0.2rem;
  background-color: #171717;
  cursor: pointer;
  font-size: 0.9rem;
}

#search {
  border: 1px solid;
  border-radius: 0.2rem;
}

/* Games */
h1 {
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 0, rgb(0, 0, 0) 0.5px 0.8px 0, rgb(0, 0, 0) -0.416px 0.909px 0;
  text-align: center;
  margin-top: 0.8rem;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
}

/* Card */
.card {
  background-color: white;
  border-radius: 0.5rem;
  margin-top: -1rem;
  margin-bottom: 3.5rem;
}

.card-text {
  line-height: 1.6rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -0.7rem;
}

.game-title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.9rem;
}

.fa-heart {
  transform: scale(2);
  cursor: pointer;
  margin-top: 0.4rem;
  transition: color 0.5s;
}

.fa-heart:hover {
  color: #da0037;
}

.card-small {
  background-color: white;
  border-radius: 0.5rem;
  margin-top: -1rem;
  margin-bottom: 3.5rem;
}

.button-sale {
  padding: 0.5rem 0.7rem;
  border: 1px solid #da0037;
  color: #da0037;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.2rem;
  font-size: 1.3rem;
}

.card-title-small {
  margin-top: -0.7rem;
  margin-left: 1.4rem;
  padding-bottom: 1.7rem;
  max-width: 88%;
}

.fa-solid.fa-heart {
  color: #da0037;
}

/* Modal */
.center-page {
  display: flex;
  min-height: 100vh;
}

.rectangle {
  background-color: white;
  border-radius: 0.5rem;
}

.modal-text {
  text-align: center;
}

.modal-heading {
  position: relative;
}

.fa-xmark {
  color: #007bff;
  cursor: pointer;
  transition: color 0.5s;
}

.fa-xmark:hover {
  color: #da0037;
}

.red {
  color: #da0037;
}

.blue {
  color: #007bff;
}

.container-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(0 0 0 / 80%);
}

/* Notes */
.tile {
  cursor: pointer;
}

.notes-card {
  background-color: white;
  box-shadow: 10px 10px 20px black;
  border-radius: 0.5rem;
  margin-top: -1rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: auto;
}

.notes-game-heading {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.fa-pen-to-square {
  color: #007bff;
  cursor: pointer;
}

.rating {
  display: flex;
  align-items: baseline;
}

.status {
  display: flex;
  align-items: baseline;
}

.button-status {
  padding: 0.7rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

.playing {
  border: 1px solid #007bff;
  color: #007bff;
}

.eventually {
  border: 1px solid green;
  color: green;
}

.finished {
  border: 1px solid #da0037;
  color: #da0037;
}

.stars {
  margin-left: 0.5rem;
}

.fa-star {
  margin-right: -0.5rem;
  padding: 2px;
  font-size: 30px;
  color: #444;
}

.fa-solid.fa-star {
  color: #da0037;
}

.p-notes {
  margin-left: 0.5rem;
  color: #da0037;
}

/* Edit */

div.stars {
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 2px;
  font-size: 30px;
  color: #444;
  transition: all 0.2s;
}

label.star::before {
  content: "\f006";
  font-family: FontAwesome, sans-serif;
}

input.star:checked ~ label.star::before {
  content: "\f005";
  color: #da0037;
  transition: all 0.25s;
}

input.star-1:checked ~ label.star::before {
  color: rgb(255, 240, 34);
}

input.star-2:checked ~ label.star::before {
  color: #f62;
}

input.star-3:checked ~ label.star::before {
  color: #f62;
}

.rating-edit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.status-edit {
  margin-top: -0.8rem;
}

.status-dropdown {
  margin-left: 0.9rem;
}

.notes {
  display: flex;
  margin-top: 1rem;
}

#notes {
  margin-left: 0.9rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-family: Roboto, sans-serif;
}

#notes::placeholder {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
}

.edit-title {
  max-width: 100%;
}

.link-description,
.link-url,
#notes,
.status-dropdown {
  border: 1px solid black;
  border-radius: 0.2rem;
}

.links-heading {
  display: flex;
}

.button-add-links {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.fa-circle-plus {
  margin-left: 0.2rem;
  margin-top: 0.1rem;
}

.button-submit {
  padding: 0.5rem 0.7rem;
  border: 1px solid #007bff;
  border-radius: 0.2rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.form-submit-button {
  text-align: right;
}

.fa-trash {
  color: #da0037;
  cursor: pointer;
  transform: scale(1.1);
}

.links-line {
  display: flex;
  align-items: center;
  margin-top: -0.3rem;
  margin-bottom: 0.7rem;
}

.link-url {
  margin-left: 0.5rem;
  margin-right: 0.7rem;
}

.links-list li {
  display: list-item;
  list-style: circle;
  justify-content: left;
  margin-left: 4rem;
}

.links-list li a {
  color: #007bff;
  font-weight: 500;
}

/* Delete Modal */

.delete-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(0 0 0 / 80%);
}

.rectangle-small {
  background-color: white;
  border-radius: 0.5rem;
}

.delete-text {
  text-align: center;
}

.delete-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.2rem;
}

.delete-cancel {
  padding: 0.5rem 0.7rem;
  border: 1px solid #007bff;
  border-radius: 0.2rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}

.delete-confirm {
  padding: 0.5rem 0.7rem;
  border: 1px solid #da0037;
  border-radius: 0.2rem;
  background-color: #da0037;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}

/* Empty Codex */
.empty-card {
  background-color: white;
  border-radius: 0.5rem;
  margin-top: -1rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem 1.2rem;
}

.empty-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Add Game */
.add-button {
  padding: 0.5rem 0.7rem;
  border: 1px solid #007bff;
  border-radius: 0.2rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  box-shadow: 5px 5px 10px black;
}

.order-button {
  padding: 0.5rem 0.7rem;
  border: 1px solid #da0037;
  border-radius: 0.2rem;
  background-color: #da0037;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  box-shadow: 5px 5px 10px black;
}

.new-submit {
  padding: 0.5rem 0.7rem;
  border: 1px solid #007bff;
  border-radius: 0.2rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.new-submit-div {
  text-align: right;
  position: relative;
}

.button-position {
  padding: 0.7rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

/*
Need to fix:
3. Try border for img on desktop
*/
